<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Dynamic Calendar JavaScript | CodingNepal</title>
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font Link for Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    style 
        include ../static/style.css
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p class="current-date"></p>
        <div class="icons">
          <span id="prev" class="material-symbols-rounded">chevron_left</span>
          <span id="next" class="material-symbols-rounded">chevron_right</span>
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>
    <!-- A button to open the popup form -->
    <button class="open-button" onclick="BookNow()">Book Now</button>

    <!-- The form -->
    <div class="form-popup" id="myForm">
      <form action="/" method="post" class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required />

        <label for="event"><b>Event</b></label>
        <input type="text" placeholder="Enter Event-Name" name="event" required/>
        <label for="Location"><b>Location</b></label>

        <select name="Location" id="Location">
          <option value="Seminar Hall">Seminar Hall</option>
          <option value="IMERT Hall">IMERT Hall</option>
        </select>
        <br /><br />
        <h4>Timing-</h4>
        <label for="Timing"><b>From:</b></label>

        <select name="Timing" id="Timing">
          <option value="10:00am">00:00</option>
          <option value="10:00am">10:00am</option>
          <option value="10:00am">11:00am</option>
          <option value="10:00am">12:00pm</option>
          <option value="10:00am">1:00pm</option>
          <option value="10:00am">2:00pm</option>
          <option value="10:00am">10:00pm</option>
          <option value="10:00am">4:00pm</option>
          <option value="10:00am">3:00pm</option>
        </select>
        <label for="Timing"><b>To:</b></label>

        <select name="Timing" id="Timing">
          <option value="10:00am">00:00</option>
          <option value="10:00am">10:00am</option>
          <option value="10:00am">11:00am</option>
          <option value="10:00am">12:00pm</option>
          <option value="10:00am">1:00pm</option>
          <option value="10:00am">2:00pm</option>
          <option value="10:00am">10:00pm</option>
          <option value="10:00am">4:00pm</option>
          <option value="10:00am">3:00pm</option>
        </select>

        <button type="submit" class="btn">Submit</button>

        <button type="reset" class="btn">Reset</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    script
      include ../static/script.js
  </body>
</html>
